{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">    <!-- <script src="script.js"></script> -->
</head>
<body>
    <header>
        <!-- <nav id="logregister">
            <a href="#">LOGIN</a>
            <a href="#">REGISTER</a>
        </nav> -->
        <h6>
            <img src="img/GetDocument.png"  alt="loading"id="getlogo">
        </h6>
        <nav class="navita">
            <a href="https://www.youtube.com/embed/tQ_Hxex7g9Y" id="tut"> Tutorial</a>
            <a href="files/Mr.Pasang Dorje Tamang.pdf" id="instru">Instruction To Apply</a>
            <a href="files/certificate31.zip">Job List</a><br><br>
            <a href="#">About </a>
            <button class="btn">LOGIN</button>
            <button class="btn">REGISTER</button>
        </nav>
    </header>